main {
  min-height: 80vh;
}

h3 {
  padding: 0.3rem 0;
}

.rating span {
  margin: 0.1rem;
}

.productImage {
  width: 100%;
  height: 100%;
  object-position: 50% top;
  object-fit: cover !important;
}
